
@{
    ViewBag.Title = "ChangeSaved";
}

<h2 class="top_head">Changes Saved</h2>
<hr />

<h3 style="text-align: center;">Your changes have been made.</h3>

<script>
    document.getElementById('body').style.background = 'none';
</script>