
@{
    ViewBag.Title = "Null";
}

<h2 class="top_head">Not Found</h2>
<hr />

<h3 style="text-align: center;">Store not found.</h3>

<script>
    document.getElementById('body').style.background = 'none';
</script>