
@{
    ViewBag.Title = "TryAgain";
}

<h2 class="top_head">Try Again</h2>
<hr />

<h3 style="text-align: center;">Something went wrong.  Please try again, or contact administrator for assistance.</h3>

<script>
    document.getElementById('body').style.background = 'none';
</script>
