<div id="history">
    <h3 class="about_info_header">The Banducci Story</h3>
    <p class="centered_p">
        The Banducci McDonald's Franchise started when John and Michelle Banducci moved to Missouri and purchased three restaurants.
        As time passed they purchased more restaurants.  Now the currently have 13 stores and are about the purchase
        more restaurants to continue growing their empire.
    </p>
</div>
