<div class="bio_header_combine"><img src="~/Images/Profile_Pictures/johnb.jpg" class="bio_image"/><h3 class="bio_head">Jon Banducci</h3></div>

<div class="bio_main">John Banducci profile information here.</div>

