<div class="bio_header_combine"><img src="~/Images/Profile_Pictures/mcdlogo.jpg" class="bio_image" /><h3 class="bio_head">Michelle Banducci</h3></div>

<div class="bio_main">Michelle Banducci profile information here.</div>
