<div id="partnerships">
    <h3 class="about_info_header">Community Partnerships</h3>
    <div class="centered_p">
        Banducci Enterprises has partnered with many different community organizations as part of our responsiblility to give back to the community.
        <ul>
            <li class="partnership">Ronald McDonald House</li>
            <li class="partnership">City of Creve Coure</li>
            <li class="partnership">McTeachers Nights support local schools</li>
        </ul>
    </div>
</div>
