@{
    ViewBag.Title = "About Us";
}

<div style="text-align: center;">
    <h2 class="top_head">Our History</h2>
    <hr />
    <img id="about_pic" src="~/Images/Main/mcdhistory.png" />

    <div class="btn btn-group-justified" id="about_buttons">
        <a class="about_links" id="about_history" href="#history">Banducci History</a>
        <a class="about_links" id="about_leadership" href="#leadership">Leadership</a>
        <a class="about_links" id="about_partnerships" href="#partnerships">Partnerships</a>
    </div>
</div>

<div id="about_info">

</div>

    @*<div class="container_about">
        <div id="history">
            <h3 class="about_info_header">The Banducci Story</h3>
            <p class="centered_p">The Banducci McDonald's Franchise started when John and Michelle Banducci moved to Missouri and purchased three restaurants.
            As time passed they purchased more restaurants.  Now the currently have 13 stores and are about the purchase
            more restaurants to continue growing their empire.</p>
        </div>

        <div id="leadership">
            <h3 class="about_info_header">Leadership Team</h3>
            <div class="col-md-3">
                <ul>
                    <li class="lead_title">Executives</li>
                    <li class="lead_team">Jon Banducci</li>
                    <li class="lead_team">Michelle Banducci</li>
                    </ul>
                <ul>
                    <li class="lead_title">Operations Managment</li>
                    <li class="lead_team">Therese Wunderlich</li>
                    <li class="lead_team">Jim Fugner</li>
                    <li class="lead_team">Angie Buscher</li>
                    </ul>
                <ul>
                    <li class="lead_title">Office Support</li>
                    <li class="lead_team">Julie Goddard</li>
                    <li class="lead_team">Barb Rosenfeld</li>
                    <li class="lead_team">Carol Dunlap</li>
                </ul>
            </div>
            <div class="col-md-9">

            </div>
            <div class="panel panel-default">
                <div class="panel-heading" id="jonb">Jon Banducci</div>
                <div class="panel-body" id="jon_bio">
                    John was born and raised in California.  He met his wife, Michelle, while studying at hte University of XXX.  Etc...
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" id="michelleb">Michelle Banducci</div>
                <div class="panel-body" id="michelle_bio">
                    Michelle was born and raised in California.  She met her husband, John, while ??? yada yada yada
                </div>
            </div>
        </div>

    <div id="partnerships">
        <h3 class="about_info_header">Community Partnerships</h3>
        <div class="centered_p">
            Banducci Enterprises has partnered with many different community organizations as part of our responsiblility to give back to the community.
            <ul>
                <li>Ronald McDonald House</li>
                <li>City of Creve Coure</li>
                <li>McTeachers Nights support local schools</li>
            </ul>
        </div>
    </div>
</div>*@