
@{
    ViewBag.Title = "Current Events";
}

<h2 class="top_head">Current Events</h2>
<hr />
<div class="container">
    <img src="~/Images/Main/currentevents.jpg" id="current_news" class="col-md-3" />
    <h6 class="col-md-9" id="main_news">
        Things are always moving and shaking around here.  Whether is is something McDonald's Corporation is rolling out, or
        just a great new intiative from your hometown team, check out some of our exciting events coming up!
    </h6>
</div>
<br />
<hr />
    <h4>Whats happening at your local store?</h4>
    <p><span class="glyphicon-calendar"></span>Check out our monthly events calender below and see what special deal we might have today.</p>
    
    <div id="lsm_calendar">

    </div>





<script>
    document.getElementById('body').style.background = 'none';
</script>

