@{
    ViewBag.Title = "Banducci Enterprises";
}

<div class="container">
    <div id="jumbotron" style="background-color: black;">
        <h1 class="top_title">Banducci Enterprises</h1>
        <div class="head_photo"><img id="mcd_logo"src="~/Images/Main/mcdonalds.jpg"></div>
        <p class="top_intro"><b>Welcome to Banducci Enterprises.  We are a small business that has made its name by running oustanding McDonald's restuarants in the St Louis Area.</b></p>
    </div>

    <div class="row" style="padding-top: 10%;">
        <div class="col-md-4" id="info_container">
            <h4 class="sub_head">Nutritional Information</h4>
            <p class="sub_info">
                McDonald's is committed to increasing nutritional awareness.  For more information on menu items click below.
            </p>
            <p class="sub_info" style="font-size: 10px !important;"><a class="btn btn-link" href="https://www.mcdonalds.com/us/en-us/about-our-food/nutrition-calculator.html">McDonald's Nutrition &raquo;</a>
            <br />Link takes you to McDonald's Corporate site</p>
        </div>

        <div>
            <div class="col-md-4" id="info_container">
                <h4 class="sub_head">History of McDonald's</h4>
                <p class="sub_info">Looking to learn more about the history of McDonald's corporation? </p>
                <p class="sub_info" style="font-size: 10px !important;"><a class="btn btn-link" href="https://www.mcdonalds.com/us/en-us/about-us/our-history.html">McDonald's Corp. History &raquo;</a>
                <br />Link takes you to McDonald's Corporate site</p>
            </div>
        </div>
        <div>
            <div class="col-md-4" id="info_container">
                <h4 class="sub_head">Apps</h4>
                <p class="sub_info">McDonald's has great apps to enrich your world.  Quickly look up nutritional information on the go, or load up your mobile offer.</p>
                <br />
                <a href="https://itunes.apple.com/us/app/mcdonalds/id922103212?mt=8" class="btn-app " title="Apple iTunes" target="_blank">
                    <img id="itunesapp" src="~/Images/Main/logo-apple.png" alt="Apple iTunes" class="click-before-outline" style="outline: none;">
                </a>
                <a href="https://play.google.com/store/apps/details?id=com.mcdonalds.app" class="btn-app  click-before-outline" title="Google Play Store" target="_blank">
                    <img id="googleplayapp" src="~/Images/Main/logo-google.png" alt="Google Play Store" class="click-before-outline" style="outline: none;">
                </a>
            </div>
        </div>
    </div>

    <div class="col-md-12" id="info_container" style="margin-top: 5%;">
        <h4 class="sub_head">History and Leadership</h4>
        <br />
        <p class="sub_info">
            We started as a small operation with three stores and have grown through the years to thirteen locations now.  During this time we have
            undergone many changes and transitions.  One of those has been adding a layer of operations management and support staff to ensure our operations are
            running smoothly.  Our leadership team has over 50 years combined in the industry and are dedicated to excellent operations.  If there is
            ever an issue or question, do not hesitate to reach out to them.  You can find their contact information @Html.ActionLink("here", "ContactHome", "Contact").
        </p>
    </div>
</div>
