
@{
    ViewBag.Title = "Promotions";
}

<h2 class="top_head">Promotions</h2>
<hr />

<div class="container_promotions">
    <h5 class="promo_head">Minions have arrived!</h5>
    <p class="promo_info">Minions have taken over your local McDonald's and the kids can get in the action with a Despicable Me 3 minion toy!</p>
    <div class="promo_background">
        <div class="col-md-6" id="happy_meal_1"><img src="~/Images/Promotions_Page/DM3 lineup.jpg" class="promo_happymeal" /></div>
        <div class="col-md-6" id="happy_meal_2"><img src="~/Images/Promotions_Page/DM3.jpg" class="promo_happymeal" /></div>
    </div>

</div>
<hr />
<div class="container_promotions">
    <h5 class="promo_head">Signature Crafted Sandwhiches</h5>
    <p class="promo_info">Looking to create your own taste?  With fresh guacamole, or sweet onion bbq sauce we can satisfy your craving.
    NEW Siracha Mac coming soon to the Signature line!</p>
    <div class="promo_background">
        <div class="col-md-6" id="happy_meal_1"><img src="~/Images/Promotions_Page/signaturecrafted.jpg" class="promo_happymeal"/></div>
        <div class="col-md-6" id="happy_meal_2"><img src="~/Images/Promotions_Page/siracha.jpg" class="promo_happymeal" /></div>
    </div>
</div>
<hr />

<script>
    document.getElementById('body').style.background = 'url:(../Images/Main/friesbackground.jpg)';
    document.getElementById('body').style.backgroundAttachment = 'fixed';
    document.getElementById('body').style.backgroundSize = 'cover';
</script>

