
@{
    ViewBag.Title = "Services";
}

<h2 class="top_head">Services</h2>
<hr />

<p class="service_para">At Banducci Enterprises we offer a range of services to meet your everyday needs.  Whether you have a large party and need a
     catering order, or want to have your child's birthday at our famous PlayPlace.  Click below to learn more about what we can do for you.</p>

<h3 class="services_head">Catering</h3>
<p class="service_para"> Banducci owned restaurants have the people and experience to make your next event memorable with a catering order.  We would be happy
        to assit in planning your event order, deliver and setup.  Our experienced team will also gladly stay around to ensure everything is
        just like you would recieve at one of our restaurants.  @Html.ActionLink("Click Here", "Contact", "ContactHome") to contact us about what
        your needs are.</p>

<h3 class="services_head">Birthday Parties</h3>
<p class="service_para">Several of our restaurants have the world famous McDonald's playplace and would be honored to have your child's birthday party.  We have
        a standard birthday package that includes:
<ul>
    <li class="services_list">10 Happy Meals</li>
    <li class="services_list">Birthday cake</li>
    <li class="services_list">One hour private use of party room</li>
    <li class="services_list">Two hours of personal host</li>
    <li class="services_list">Special present for birthday chil</li>
</ul>
        We are also happy to customize anything that we can to make your child's special day a memorable one.  
    @Html.ActionLink("Click Here", "Contact", "ContactHome") to contact us about what your needs are.</p>

<h4 class="services_head">Ronald McDonald</h4>
<p class="service_para">Working at McDonald's gives us special privledges sometimes.  One of our favorite perks is having a direct line to Ronald McDonald
        himself.  He can put on a great show for the children, and has a fantastic magic show.  
    @Html.ActionLink("Click Here", "Contact", "ContactHome") to contact us about what your needs are.</p>

<script>
    document.getElementById('body').style.background = 'lightgray';
</script>

